@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    transition: 0.3s
}

:root {
    --c1: #093841;
    --c2: orangered;
    --c3: #eef;
    --c4: #1b1b1b;
    --c5: grey;
    --c6: #03404d;
    --c7: #c9000011;
    scrollbar-width: thin !important;
}
.bg0 {
    background-color: var(--c6);
  }
* {
    scrollbar-width: thin !important;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--c3);
    border-radius: 3px;
    opacity: .5;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: 1
}

a:hover {
    cursor: pointer;
}

.dflex {
    display: flex;
}

.dfdc {
    flex-direction: column;
}

.djcc {
    justify-content: center;
}

.dalc {
    align-items: center;
}

.djcsa {
    justify-content: space-around;
}

.djcsb {
    justify-content: space-between;
}

.dwrap {
    flex-wrap: wrap;
}

.dwrapr {
    flex-wrap: wrap-reverse;
}

html,
body {
    overflow-x: hidden;

}

body {
    background-color: var(--c1) !important;
}

header {
    position: sticky;
    top: 0;
    color: white;
    z-index: 200;
    width: 100%;
    background-color: var(--c1);
    box-shadow: 0px 0px 10px #000;
}
.blue {
    color: var(--c3);
    margin-left: 50px;
    font-style: italic;
}
  .orange {
    font-style: italic;
    color: var(--c2);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
    text-decoration: none;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 10px;
    background-color: white;
}

.nav__link {
    position: fixed;
    width: 100%;
    top: 58px;
    transform: translateX(200vw);
    transition: transform 1000ms ease-in-out;
    margin-right: 120px !important;
    font-size: 1.3rem;
    background-color: var(--c1);
}

.nav__link a {
    text-decoration: none;
    color: white;
}

.nav__link a:hover {
    color: white;
}

.nav__link.hide {
    transform: translateX(0px);
    transition: transform 1000ms ease-in-out;
}

.nav__link a {
    display: block;
    padding: 10px 0 10px 20px;
}

#twit {
    position: fixed;
    bottom: 5%;
    right: 3%;
    font-size: 30px;
    color: var(--c2);
    background-color: var(--c3);
    padding: 5px;
    border-radius: 45px;
    z-index: 100;
}

.contact {
    text-align: center;
    color: var(--c3);
    margin-top: 150px;
    font-size: 50px;
    font-weight: bold;
}

.form {
    text-align: start !important;
    background-color: rgb(10, 80, 94);
    padding: 20px;
}

.touch {
    background-color: rgb(10, 80, 94);
    padding: 20px;
}

.inTouch {
    margin-top: 40px;
    margin-bottom: 20px;
}

.touch h6 {
    color: var(--c3);
    margin-bottom: 15px;
}

.touch h3 {
    color: var(--c3);
    font-size: 30px;
}

.touch h5 {
    color: var(--c3);
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: lighter;
}

#icons {
    padding-right: 30px;
    color: var(--c3);
}

.iconsItem {
    color: var(--c3);
}

.iconDiv {
    margin-bottom: 5px;
}

.socialMedia {
    margin-top: 30px;
}

#icons2 {
    font-size: 30px;
    padding: 5px;
    color: var(--c3);
    border-radius: 4px;
}

#firstname {
    padding: 17px;
    width: 100%;
    background-color: rgb(9, 56, 65);
    border: none;
}

#firstname::placeholder {
    color: var(--c3);
}

#lastname {
    padding: 17px;
    width: 100%;
    background-color: rgb(9, 56, 65);
    border: none;
}

#lastname::placeholder {
    color: var(--c3);
}

#email {
    padding: 17px;
    width: 100%;
    background-color: rgb(9, 56, 65);
    border: none;
}

#email::placeholder {
    color: var(--c3);
}

#textarea {
    width: 100%;
    background-color: rgb(9, 56, 65);
    border: none;
}

#textarea::placeholder {
    color: var(--c3);
    padding-left: 20px;
    padding-top: 20px;
}

#textarea:focus {
    border: 1px solid red;
}

.all {
    margin-bottom: 20px;
}

.subContact {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--c3);
    font-weight: bold;
    background-color: rgb(9, 56, 65);
    margin-top: 5px;
}

.req {
    display: none;
    color: var(--c3);
}

.req1 {
    display: none;
    color: var(--c3);
}

.req2 {
    display: none;
    color: var(--c3);
}

.req3 {
    display: none;
    color: var(--c3);
}

.map {
    width: 100%;
    margin-top: 20px;
    border: 5px solid var(--c3);
}















@media screen and (min-width: 830px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
        transform: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
        text-align: start;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footerContent {
        font-size: small;
    }
}